/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: url(/img/darkback.jpg) #111127;
	background-repeat: repeat-x repeat-y;
	line-height: 1;
	overflow: hidden;
	font-family: Helvetica;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************
Main header with logo and menu button
*/

div.mainheader{
	background-color: #ffe;
	background-image: url(/img/lightback.jpg);
	height: 100px;
}
div.mainheader div.titleinheader{
	margin-top: 1%;
	margin-left: 5%;
	float: left;
	font-size: 3em;
	font-weight: 500;
	color: #24f;
	text-shadow: 1px 1px 2px #002;
}

div.mainheader button{
	height: 50px;
	border: none;
	margin-right: 5px;
	float: right;
	font-weight: 600;
	color: #118;
	background-color: #cdf;
}
div.mainheader button:hover{
	box-shadow: 0px 0px 2px 2px #227;
	margin: 1px 6px;
	
}

div.content{
	margin-left: 5%;
	margin-right: 5%;
	background-color: #ffe;
	background-image: url(/img/lightback.jpg);
	background-repeat: repeat;
	font-size: 1.5em;
}


/**__________________
Main menu with ads abd buttons
*/
div.mainmenu{
	margin: 20px 0px;
	height: 100%;
	text-align: center;
}

div.topaddblock{
	text-align: center;
	height: 100px;
	overflow: hidden;
}

div.maintoppage{
	margin: 20px;
}

div.mainbuttons{
	height: 50%;
}

div.mainmenu button{
	width: 40%;
	height: 30%;
	margin-bottom: 10px;
	color: #22f;
	font-size: 1.5em;
	border: none;
	box-shadow: 0px 0px 3px 3px #aaf;
	background-color: #eff;
}

div.mainmenu button:hover{
	box-shadow: 0px 0px 5px 7px #aaf;
	text-shadow: 1px 1px 2px #99c;
}

div.bottomaddblock{
	position: absolute;
	bottom : 10px;
}

/*____________
In game
*/
div.ingame{
	height: inherit;
}

div.ingame div.info{
	height: 100%;
	background-image: url(/img/lightback.jpg);
	background-color: #eef;
}

div.info div.gameinstruction{
	height: 80%;
	width:100%;
	margin-top:0px;
}

div.gameinstruction div#message{
	text-align: center;
		font-size: 3em;
}

div.gameinstruction div.level{
	font-size: 2em;
	text-align: center;
}

div.gameinstruction div.level span{
		font-size: 1.4em;
		margin-left: 10px;
		margin-top: 5px;
}

div.ingame div.info div.gameinstruction button{
	width: 50%;
	height: 50%;
	margin-top: 2%;
	margin-left: 25%;
	font-size: 3em;
	font-weight: 800;
	color:#ffa;
	border: none;
	background-color: #112;
	box-shadow: 1px 1px 2px 3px #557;
}

div.ingame div.info div.gameinstruction button:hover{
		box-shadow: 1px 1px 5px 6px #88a;
}

div.ingame div.gamearea{
	height: 100%;

}

div.gamearea div.circle{
	position: absolute;
	margin-left: 4%;
	background-color: #006245;
	top: 50%;
	border-radius: 100px;
}

div.gamearea .wrong,
div.gamearea .wrong:hover{
		background-color: #f55 !important;;
		box-shadow: 0px 0px 5px 1px #f55 !important;
}

div.gamearea div.circle:hover{
	box-shadow: 0px 0px 5px 2px #447;
}

