/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
	background-color: #111127;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************
Main header with logo and menu button
*/

div.mainheader{
	background-color: #abc;
	height: 100px;
}

div.content{
	margin-left: 5%;
	margin-right: 5%;
}


/**__________________
Main menu with ads abd buttons
*/
div.mainmenu{
	padding: 20px;
	text-align: center;
	background-color: #bac;
}

div.topaddblock{
	height: 50px;
	background-color: #aac;
	overflow: hidden;
}

div.maintoppage{
	margin: 20px;
}

div.mainbuttons{
	height: 100%;
}

div.mainmenu button{
	width: 30%;
	height: 10%;
	margin-bottom: 10px;
}

/*____________
In game
*/
div.ingame{
	height: inherit;
}

div.ingame div.info{
	height: 100%;
	background-color: #723;
}

div.info div.gameinstruction{
	height: 80%;
	width:100%;
	margin-top:0px;
}

div.gameinstruction div#message{
	text-align: center;
		font-size: 3em;
}

div.gameinstruction div.level{
	font-size: 2em;
	text-align: center;
}

div.gameinstruction div.level span{
		font-size: 1.4em;
		margin-left: 10px;
		margin-top: 5px;
}

div.ingame div.info div.gameinstruction button{
	width: 50%;
	height: 50%;
	margin-top: 2%;
	margin-left: 25%;
	font-size: 3em;
	font-weight: 800;
	color:#ffa;
	border: none;
	background-color: #223;
	box-shadow: 1px 1px 2px 3px #557;
}

div.ingame div.info div.gameinstruction button:hover{
		box-shadow: 1px 1px 2px 3px #88a;
}

div.ingame div.gamearea{
	height: 100%;
	background-color: #aaa;
}

div.gamearea div.circle{
	position: absolute;
	margin-left: 4%;
	background-color: #ffa;
	top: 50%;
	border-radius: 100px;
}

