@import url(fonts/font.css) ;
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color: rgb(0, 138, 146);
	background-repeat: repeat-x repeat-y;
	line-height: 1;
	overflow: hidden;
	color: rgb(147,15,3);
	font-weight: 600;
	font-family: 'CANDARA';

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************
Main header with logo and menu button
*/

div.mainheader{
	background-color: #ffe;
	background-image: url(/img/lightback.jpg);
	height: 100px;
	display: none;
}
div.mainheader div.titleinheader{
	margin-top: 1%;
	margin-left: 5%;
	float: left;
	font-size: 3em;
	font-weight: 500;
	color: #24f;
	text-shadow: 1px 1px 2px #002;
}

div.mainheader button{
	height: 50px;
	border: none;
	margin-right: 5px;
	float: right;
	font-weight: 600;
	color: #118;
	background-color: #cdf;
}
div.mainheader button:hover{
	box-shadow: 0px 0px 2px 2px #227;
	margin: 1px 6px;
	
}

div.content{
	margin-left: auto;
	margin-right: auto;
	font-size: 1.5em;
	border: 10px solid rgb(147,15,3);
	border-radius: 40px;
}


/**__________________
Main menu with ads abd buttons
*/
div.mainmenu{
	margin: 20px 0px;
	height: 100%;
	text-align: center;
	margin-top: 0px;
	border-radius: 29px;
	background-color:  rgb(212,112,0);
}

div.topaddblock{
	text-align: center;
	height: 100px;
	overflow: hidden;
	padding-top: 30px;
}

div.maintoppage{
	margin: 20px;
}

div.mainbuttons{
	height: 50%;
}

div.mainmenu button{
	width: 40%;
	height: 80%;
	margin-top: 2%;
	font-size: 2em;
	font-weight: 800;
	color: #930F03;
	border-radius: 200px;
	border: 10px solid #930F03;
	background-color: #D47000;

}

div.mainmenu button:hover{
		box-shadow: 1px 1px 2px 3px #930F03;
	text-shadow: 1px 1px 2px  #930F03;
}

div.bottomaddblock{
	position: absolute;
	bottom : 10px;
}

/*____________
In game
*/
div.ingame{
	height: inherit;
	
}

div.ingame div.info{
	height: 100%;
	background-color: rgb(212,112,0);
	border-radius: 30px;
}

div.info div.gameinstruction{
	height: 80%;
	width:100%;
	margin-top:0px;
}

div.gameinstruction div#message{
	text-align: center;
		font-size: 3em;
}

div.gameinstruction div.level{
	font-size: 2em;
	text-align: center;
}

div.gameinstruction div.level span{
		font-size: 1.4em;
		margin-left: 10px;
		margin-top: 5px;
}

div.ingame div.info div.gameinstruction button{
	width: 40%;
	height: 50%;
	margin-top: 2%;
	margin-left: 30%;
	margin-right: 30%;
	font-size: 2em;
	font-weight: 800;
	color:rgb(147, 15, 3);
	border-radius: 500px;
	border: 10px solid rgb(147, 15, 3);
	background-color: rgb(212, 112, 0);
	box-shadow: 1px 1px 5px 2px rgb(212, 112, 0);
	}

div.ingame div.info div.gameinstruction button:hover{
	box-shadow: 1px 1px 2px 3px  rgb(147, 15, 3);

}

div.ingame div.gamearea{
	height: 100%;
	background: none;
}

div.gamearea div.circle{
	position: absolute;
	margin-left: 4%;
	background-color: rgb(212, 112, 0);
	border: 2px solid #930F03;
	top: 50%;
	border-radius: 500px;
}

div.gamearea div.circle:hover{
	box-shadow: 0px 0px 5px 2px #447;
}

div.gamearea div.circle.wrong,
div.gamearea div.circle.wrong:hover{
		background-color: rgb(147, 15, 3); !important;;
		box-shadow: 0px 0px 5px 1px rgb(147, 15, 3); !important;
}



